.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.values {
    font-size: 21px;
    font-weight: 200;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.social-links {
    margin-top: 3em;

}

a.social {
    color: #eee;
    text-decoration: none;
}

a.social:hover {
    color: #5bc0de;
    text-decoration: none;
}
