.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.values {
    font-size: 21px;
    font-weight: 200;
}


.border-between > [class*='col-']:before {
    background: #1c1e22;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}
.border-between > [class*='col-']:first-child:before {
    display: none;
}


.social-links {
    margin-top: 3em;

}

a.social {
    color: #eee;
    text-decoration: none;
}

a.social:hover {
    color: #5bc0de;
    text-decoration: none;
}
